logging:
  level:
    root: INFO

spring:
  application:
    name: interview

  datasource:
    url: jdbc:h2:file:./data/interviewdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

app:
  document-bucket: documents
